.movie-card{
    height: auto;
    width: 100%;
    padding: 15px;
    background-color: #222;
    border: 1px solid rgb(255, 255, 255, .2);
    border-radius: 25px;
}
.movie-card .movie-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.movie-card .movie-header .header-left h1{
    font-size: 42px;
}
.movie-card .movie-header .header-left h5{
    font-size: 18px;
    font-weight: 400;
    color: rgb(255, 255, 255, .5);
    padding-top: 8px;
}
.movie-card .movie-header .header-right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.movie-card .movie-header .header-right h5{
    font-size: 18px;
    font-weight: 400;
    color: rgb(255, 255, 255, .5);
}
.movie-card .movie-contents{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 35px;
}
.movie-card .movie-contents .movie-img{
    width: 300px;
    height: 445px;
    border-radius: 15px;
    overflow: hidden;
}
.movie-card .movie-contents .movie-img:hover img{
    transform: scale(1.2);
}
.movie-card .movie-contents .category{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    padding-bottom: 16px;
}
.movie-card .movie-contents .category h6{
    padding: 5px 10px;
    border: 1px solid #fff;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 500;
    border-radius: 5px 10px;
}
.movie-card .movie-contents .category h6:hover{
    background-color: #E50914;
    border: #E50914;
    border-radius: 10px 5px;
}
.movie-card .movie-contents .movie-texts{
    width: calc(100% - 300px);
}
.movie-card .movie-contents .movie-texts .about-texts{
    width: 85%;
}
.movie-card .movie-contents .movie-texts .about-texts h3{
    font-size: 25px;
}
.movie-card .movie-contents .movie-texts .about-texts p{
    padding-top: 8px;
    font-size: 16px;
    font-weight: 400;
    color: rgb(255, 255, 255, .5);
    padding-bottom: 20px;
}
.movie-card .movie-contents .movie-texts .about-movie{
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 20px;
    margin-top: 24px;
}
.movie-card .movie-contents .movie-texts .about-movie .movie-about{
    width: 100%;
}
.movie-card .movie-contents .movie-texts .about-movie .movie-about h3{
    font-size: 19px;
}
.movie-card .movie-contents .movie-texts .about-movie .movie-about p{
    padding-top: 8px;
    font-size: 16px;
    font-weight: 400;
    color: rgb(255, 255, 255, .5);
}