.navigation{
    width: 100%;
    padding: 1.5% 6%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    border-bottom: 1px solid rgb(255, 255, 255, .2);
    background-color: rgb(17, 17, 17, .3);
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
}
.navigation .nav-logo h1{
    font-size: 32px;
    font-weight: 900;
    color: #D88769;
}
.navigation .nav-elements{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.navigation .nav-elements a{
    color: #eee;
}
.navigation .nav-elements a:hover{
    color: #D88769;
}
.navigation .nav-elements .nav-cta a{
    padding: 10px 30px;
    border: 1px solid #D88769;
    color: #D88769;
}
.navigation .nav-elements .nav-cta a:hover{
    background-color: #D88769;
    color: #fff;
}